@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome Stefan Cepeleaga - Version 6</h1>
=======
    <h1 class="display-4">Welcome Stefan Cepeleaga - Version 4</h1>
>>>>>>> parent of 059a4df (Added version 5)
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
